*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width:none;
    
    
}      
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}               

                     /* napbar */
.nap{
    height: 8vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0vh;
    z-index: 1;
    background-color: white;
}
.icon{
    height: 8vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 2.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    }
.seed{
    height: 8vh;
    display: flex;
    position: absolute;
    left: 12vw;
}
#seed{
    height: 52px;
    width: 80px;

}
                           /* namastey */
.namaste{
    height: 50vh;
    width: 100%;
    flex-direction: column;
    display: block;
    position: relative;
    top: 8vh;  
    justify-items: center;
}

#hello{
    font-size:35px;
}
#name{
    font-size: 80px;
    font-weight: 700;
    color: rgb(204, 32, 55);
     
}
.iam{
    
    display: flex;
    font-size: 25px;
    position: relative;
    text-align: start;
}
 

#bca{
     font-size: 25px;
     color: rgb(204, 32, 55);
     font-weight: 600;
     display: flex;
     position: relative;
     top: 0.5px;
}
.hireme{
    height: 40px;
    width: 356px;
    display: flex;
    position: relative;
    top: 3vh;
    justify-content:flex-start ;
    
    
               
}    

#hireme{
    height: 40px;
    width: 100px;
    border: hidden;
    color: aliceblue;
    background-color: rgb(204, 32, 55);
    border-radius: 15px 40px 80px 100px;
    
    
             
}    
                               /* about me */
.about{
    font-size: 30px;
    display: flex;
    position:relative;
    justify-content: center;
    font-weight: 600;
    
}
.who{
    font-size: 20px;
    display: flex;
    position:relative;
    justify-content: center;
    font-weight: 300;
    color: rgb(212, 5, 32,1);
}
#who{
    width: 50px;
    height: 0px ;
    border: 1px solid black;
    display: flex;
    position: relative;
    top: 2vh;
}
                            /* image */
#myimage  {
    width: 350px;
    height: 350px;
    border-radius: 175px;
}                          
#myimage:hover{
    width: 365px;
    height: 365px;
    border-radius: 182px;
    
}
.myimage{
    width: 100%;
    height: 73vh;
    display: flex;
    justify-content: center;
    position: relative;
    top: 7vh;      
}
   

.digre{
    background-color: black;
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;   
}
.Education{
    font-size: 30px;    
    font-weight: 600;
    color: white;
    width: 130px;
   
    
}
.idid{
    font-size: 30px;
    display: flex;
    position:relative;
    font-weight: 300;
    color: blue;
    margin-top: 1vh;
    

}
#idid{
    width: 50px;
    height: 0px ;
    border: 2px solid white;
    display: flex;
    position: relative;
    top: 1.5vh;
   
}
                                    /* mp bord img */

.aboutmyeducation{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}                                    
.aboutinfo{
    background-color: black;
    height: 350px;
    width: 350px;
    flex-direction: column;
    display: block;
    position: relative;
    top: 8vh;  
    justify-items: center;
    
}
.aboutinfo:hover{
    border-radius:175px;
    background-color: rgb(126, 126, 214);
    box-shadow:inset 20px 5px 35px blue;

}

.tenth{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: flex;
    position: relative;
    top: 6px;
}   
.gradution{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(190, 230, 12);
    font-weight: 900;
    font-size: 20px;
    display: flex;
    position: relative;
    top: 10px;
    align-items: center;
    flex-direction: column;
    text-align: center;  
    }   
    .detail1{
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight:lighter;
    font-size: 30px;
    display: flex;
    position: relative;
    top: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;  

    } 
.detail{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    position: relative;
    top: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    
} 
.parsent{
    color: yellow;
}
